<head>
    <meta charset="utf-8">
    <script src="https://js.braintreegateway.com/web/dropin/1.25.0/js/dropin.min.js"></script>
</head>
<body>
<form id="payment-form" action="{{url_for('transactions.create',image_id=image_id)}}" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <label>Donation Amount:</label>
    <input type="number" name="amount">
    <div id="dropin-container"></div>
    <input type="submit" id="submitBtn"/>
    <input type="hidden" id="nonce" name="payment_method_nonce"/>
</form>

<script type="text/javascript">
    const form = document.getElementById('payment-form');
    const submitBtn = document.getElementById('submitBtn');
    braintree.dropin.create({
    authorization: '{{client_token}}',
    container: '#dropin-container'
    }, (error, dropinInstance) => {
    if (error) console.error(error);

    form.addEventListener('submit', event => {
        event.preventDefault();
        submitBtn.style.display = "none"
        dropinInstance.requestPaymentMethod((error, payload) => {
        if (error) console.error(error);

        // Step four: when the user is ready to complete their
        //   transaction, use the dropinInstance to get a payment
        //   method nonce for the user's selected payment method, then add
        //   it a the hidden field before submitting the complete form to
        //   a server-side integration
        document.getElementById('nonce').value = payload.nonce;
        form.submit();
        });
    });
    });
</script>
</body>