{% extends "_layout.html" %}

{% block title %}
  Homepage
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
  
  <h1>Homepage</h1>
  <h1>Image Feeds</h1>
  {% for image in current_user.image_feed %}
  <img src="{{image.full_image_url}}" width="300px">
  <Br>
  {% endfor %}

  {% if current_user.is_authenticated %}
  <h3>Current User: {{current_user.username}}</h3>
  <form action="{{url_for('sessions.destroy')}}" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type='submit' value="signout">
  </form>
  {% endif %}
{% endblock %}